@model NewsPortal.Dal.Dtos.CommentDto
<div class="card mb-2" id="comment-@Model.Id">
    <div class="card-header">
        <h3 class="card-title">@Model.User</h3>
        <span class="text-muted">
            @Model.CreationDate.ToLocalTime().ToString("yyyy. MMM dd.hh: mm:ss")
        </span>
        <a asp-controller="News" asp-action="DeleteComment" asp-route-id="@Model.Id">
            Delete Comment
        </a>
        <i class="fas fa-trash-alt delete-comment interactive" data-comment-id="@Model.Id"
           title="Delete Comment">asdasd</i>
    </div>
    <div class="card-body">@Html.Raw(Model.Text)</div>
</div>
