@model NewsPortal.Bll.Dtos.NewsDto
<div class="card h-100">
    <h4 class="card-header text-center">
        <a asp-controller="News" asp-action="Details" asp-route-id="@Model.Id">@Html.Raw(@Model.Headline)</a>
    </h4>
    <div class="card-body">
        <div class="container-fluid">
                <div class="row">
                    <div class="text-center w-100">
                        <p class="text-info">Author: @Model.Author</p>
                    </div>
                    <hr />
                    <p class="small">
                        @Html.Raw(Model.ShortDescription)
                    </p>
                </div>
            </div>
        </div>
</div>
